<!-- views/partials/call-to-action.ejs -->

<div id="call-to-action">
    <h3>Have something to say? Say it!</h3>
    <p>You can write your piece, add photos and publish all on your own - in two unique styles.</p>

    <a href="/supersecretsubmitgray">
	    <button href="/supersecretsubmitgray" id="start-writing-btn">
	    	<h5>Start Writing</h5>
	    </button>
	</a>
</div>

