<form id="gray-form" action="/supersecretsubmitgray" method="POST">

          <a id="switch-post-style" href="/submit-post">Switch to Regular Style</a><br>

          <input type="text" placeholder="paste an image url here..." name="blackImage" id="blackImage">
          <input type="text" placeholder="paste an image url here..." name="whiteImage" id="whiteImage">

          <main>
                <div id="top" class="row">
                    <div id="black-preview" class="col-sm-6" background>
                       <img id="black-img" src="" alt="" />
                        <h3><textarea max-length="100" type="text" placeholder="Here's one common, oversimplified side of the matter." name="black"></textarea></h3>
                    </div>

                    <div id="white-preview" class="col-sm-6">
                        <img id="white-img" src="" alt="" />
                        <h3><textarea type="text" placeholder="Here's another side of the issue as frustrating as the other." name="white"></textarea></h3>
                    </div>
                </div>

                <!-- <a target="_blank" href="#" id="black-src" class="img-src">image credit</a>
                <a target="_blank" href="#" id="white-src" class="img-src">image credit</a> -->


                <!-- The "Gray", a.k.a. the title -->
                <div class="row" id="post-info-cont">

                    <!-- Title a.k.a. Gray Area -->
                    <h1 id="gray-title">
                      <input type="text" placeholder="This is the gray area." name="title">
                    </h1>

                    <!-- Author -->
                    <p id="author">By <input type="text" placeholder="The person writing this." name="author"> </p>

                    <!-- submit button -->
                    <button id="submitPost" type="submit">Publish</button>

                </div>
                <div class="row">
                    <div class="col-sm-2"></div>

                    <div id="content" class="col-sm-8">
                        <div id="toolbar"></div>
                            <textarea id="editor" type="text" name="content">
                            </textarea>
                    </div>
                    <div class="col-sm-2"></div>

                </div>
          </main>
    </form>
