<!-- views/partials/header.ejs -->

<nav id="navbar" class="navbar navbar-default " role="navigation">
    <!-- <div class="container"> -->
        <div class="navbar-header">
            <a id="name" class="navbar-brand" href="/">
                The Daily Gray
                <p>The world's never as black and white as we make it seem.</p>
            </a>

             <div id="menu-butts">
                <a class="menu-btn" href="/" >Home</a>
                <a class="menu-btn" href="/about" >About</a>
                <a class="menu-btn" href="/contact" >Contact</a>
            </div>

             <img id="logo" class="logo-img" src="/images/logoooo1.png" alt="My_Logo">

        </div>
    <!-- </div> -->
</nav>


