<div class="row" id="post-info-cont">
            <h1 id="post-title"><%- title %></h1>
            <p id="author">By <%- author %></p>
</div>

<div class="row">
    <div class="col-lg-2 col-sm-1 col-xs-0"></div>
    <div id="content" class="col-lg-8 col-sm-10 col-xs-12"><%- content %></div>
    <div class="col-lg-2 col-sm-1 col-xs-0"></div>
</div>