<!-- views/pages/404.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <title>The Daily Gray</title>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-2"></div>
            <div id="error-cont" class="col-sm-8">

                <h1>Sorry, something went awry.</h1>

                <a href="/">Go to Front Page</a>


            </div>

            <div class="col-sm-2"></div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>



</body>
</html>