<!-- views/pages/post.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <title>The Daily Gray</title>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div id="top" class="row">
            <div id="top" class="row">
                    <div id="post-img-cont" class="col-sm-6" background>
                       <img id="post-img" src=<%= image %> alt="" />
                    </div>
            </div>
        </div>

        <% include ../partials/post-info %>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>



</body>
</html>