<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <% include ../partials/editor-scripts %>
</head>
<body class="container">
    <header>
        <% include ../partials/header %>
    </header>

    <% include ../partials/post-mock-form %>

    <!-- Include the Quill library -->
    <script src="https://cdn.quilljs.com/1.1.5/quill.js"></script>

    <footer>
        <% include ../partials/footer %>
    </footer>



</body>
</html>